
---

## Requirements

- Docker Engine
- Docker Swarm initialized
- Secret created in Swarm before deployment

---
##  Docker Swarm Initializiation 
Initialize docker swarm :

docker swarm init <advertise-ip> <listening-ip>
docker swarm join-token <node-type> 

---
##  Secrets

Create the secret first:

docker secret create <swarm_secret_name> <secret_file>





